<html ng-app="twitchListApp">
  <body ng-controller="twitchController as twitchList" class="container">
    <div class="main container">
      <ul class="menu nav nav-pills">
        <li ng-class="{ active:twitchList.tabIsSet(1) }"> <a href="" ng-click="twitchList.setTab(1)">All</a></li>
        <li ng-class="{ active:twitchList.tabIsSet(2) }"> <a href="" ng-click="twitchList.setTab(2)">Online</a></li>
        <li ng-class="{ active:twitchList.tabIsSet(3) }"> <a href="" ng-click="twitchList.setTab(3)">Offline</a></li>
      </ul>
      <div class="search">
        <input ng-model="searchText" class="search_bar"/><i class="icon fa fa-search"></i>
      </div>
      <div class="container channels">
        <div ng-repeat="channel in twitchList.channelArray | filter: searchText" class="row list"><a href="http://www.twitch.tv/{{channel.name}}" target="_blank" style="text-decoration: none">
            <li><img ng-src="{{channel.image}}" class="logo"/><span class="channel_name">{{channel.name}}</span><span class="status"><i ng-show="!channel.online" class="off fa fa-exclamation-circle"></i><i ng-show="channel.online" class="on fa fa-check-square"></i></span><span ng-show="channel.online.game" class="playing"> playing <span ng-show="channel.online.game" class="current_game">{{channel.online.game}}</span></span></li></a></div>
      </div>
    </div>
  </body>
  <footer>
    <p class="copyright text-muted small">Copyright © Luna Web Design Studio 2015. All Rights Reserved</p>
  </footer>
</html>
